*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 1.4rem;
    border: 1px solid gray;
    border-radius: 5%;
    margin: 10px;
    outline: none;
    background-color: rgba(253, 253, 253, 0.75);
}

.calculator-grid>button:hover {
    background-color: rgba(57, 57, 57, 0.1);
    border: 2px solid darkblue;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding-right: 25px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    color: rgba(253, 253, 253, 0.75);
    font-size: 1.5rem;
}

.current-operand {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}